<launch>

        <param name="robot_description" command="cat $(find rob2w_description)/src/urdf/carritoAP.urdf"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<!--node name="camera_node"  type="camera_node"  pkg="camera"/-->

        <node name="mobile_base_node"  type="mobile_base_node"    pkg="mobile_base"  />
	<node name="laser_scan_node"   type="laser_scan_node"     pkg="laser_scan"   />
	<node name="light_sensors_node" type="light_sensors_node"  pkg="light_sensors"/>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find surge_et_ambula)/rviz/rviz_config.rviz"/>
</launch>
